# Common
alias ..='cd ..'
alias ...='cd ../..'
alias .3='cd ../../..'
alias .4='cd ../../../..'
alias .5='cd ../../../../..'

alias ls='ls -a --color=always --group-directories-first'
alias la='ls -lah --color=always --group-directories-first'
alias l.='ls -a | egrep "^\."'

alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'

alias cp="cp -i"
alias df="df -h"

alias c="clear"

# Tmux
alias tkill="tmux kill-server"

# Lazy
alias gl="lazygit"
alias dl="lazydocker"

# Editor
alias v="nvim"

# Ranger
alias rd='ranger --choosedir=$HOME/rangerdir;cd "$(cat $HOME/rangerdir)"'
alias r='ranger'

# Venv
alias va="source venv/bin/activate"
alias vd="deactivate"

# Github
alias pr="gh pr view --web || gh pr create --web"
