# Common
alias ..='cd ..'
alias ...='cd ../..'
alias .3='cd ../../..'
alias .4='cd ../../../..'
alias .5='cd ../../../../..'

alias ls='ls -a --color=always'
alias la='ls -lah --color=always'
alias l.='ls -a | egrep "^\."'

alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'

alias cp="cp -i"
alias df="df -h"

alias c="clear"

# Tmux
alias tkill="tmux kill-server"

# Lazy
alias gl="lazygit"
alias dl="lazydocker"

# Editor
alias v="nvim"

# Venv
alias va="source venv/bin/activate 2>/dev/null || source .venv/bin/activate 2>/dev/null || echo 'No venv or .venv found'"
alias vd="deactivate"

# Github
alias pull="gh pr view --web || gh pr create --web"
