""" Map leader to space ---------------------
let mapleader=" "

""" Set scroll -------------------------
set scrolloff=8
set sidescrolloff=8

""" Set commenting -------------------------
set commentary

""" Set ignorecase --------------------------
set ignorecase
set visualbell

"""" Clipboard ------------------------------
set clipboard+=unnamed

nnoremap c "cc
vnoremap c "cc
nnoremap C "cC
vnoremap C "cC

nnoremap d "dd
vnoremap d "dd
nnoremap D "dD
vnoremap D "dD

nnoremap x "xx
vnoremap x "xx
nnoremap X "xX
vnoremap X "xX

nnoremap s "ss
vnoremap s "ss
nnoremap S "sS
vnoremap S "sS

""" Line numbers ----------------------------
set relativenumber
set number

""" Search ----------------------------------
set hls
nnoremap <leader>k :nohlsearch<CR>

""" Mappings --------------------------------
map ő {
map ú }
map Ő [m
map Ú ]m

""" Window
nnoremap <C-w>o :action HideAllWindows<CR>
nnoremap <C-.> :action ZoomInIdeAction<CR>
nnoremap <C--> :action ZoomOutIdeAction<CR>
nnoremap <C-,> :action ResetIdeScaleAction<CR>

""" Editor
nnoremap <A-j> :action MoveLineDown<CR>
nnoremap <A-k> :action MoveLineUp<CR>
vnoremap <A-j> :action MoveLineDown<CR>
vnoremap <A-k> :action MoveLineUp<CR>
vnoremap < <gv
vnoremap > >gv

""" Navigation
nnoremap <leader>sf :action GotoFile<CR>
nnoremap <leader>sg :action FindInPath<CR>
nnoremap <leader>sb :action RecentFiles<CR>
nmap [e :action GotoPreviousError<CR>
nmap ]e :action GotoNextError<CR>
nmap [m :action MethodUp<CR>
nmap ]m :action MethodDown<CR>
nmap [h :action JumpToLastChange<CR>
nmap ]h :action JumpToNextChange<CR>

""" IDE Tools
nnoremap <leader>t :action ActivateTerminalToolWindow<CR>
nnoremap <leader>d :action ActivateDatabaseToolWindow<CR>
nnoremap <leader>gl :action ActivateVersionControlToolWindow<CR>
nnoremap <leader>gb :action Annotate<CR>
nnoremap <leader>tn :action RunClass<CR>

""" Language
nnoremap <leader>r :action RenameElement<CR>
nnoremap gr :action GotoDeclaration<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap <leader>lf :action ReformatCode<CR>
nnoremap <leader>ls :action ActivateStructureToolWindow<CR>
nnoremap <leader>ld :action ActivateProblemsToolWindow<CR>
nnoremap <leader>le :action ShowErrorDescription<CR>
nnoremap <leader>lc :action ShowIntentionActions<CR>

""" Debug
nnoremap <leader>b :action ToggleLineBreakpoint<CR>

""" Plugins ---------------------------------
""" NERDTree
set NERDTree
nnoremap <leader>f :NERDTreeFind<CR>

""" Highlighted yank
set highlightedyank
let g:highlightedyank_highlight_duration = "200"

""" Vim surround
set surround

""" Which key
set which-key
set notimeout

""" Harpoon
nnoremap <leader>hl :action ShowHarpoon<CR>

nnoremap <leader>hu :action SetHarpoon1<CR>
nnoremap <leader>hi :action SetHarpoon2<CR>
nnoremap <leader>ho :action SetHarpoon3<CR>
nnoremap <leader>hz :action SetHarpoon4<CR>

nnoremap <A-u> :action GotoHarpoon1<cr>
nnoremap <A-i> :action GotoHarpoon2<cr>
nnoremap <A-o> :action GotoHarpoon3<cr>
nnoremap <A-z> :action GotoHarpoon4<cr>
nnoremap <leader>u :action GotoHarpoon1<cr>
nnoremap <leader>i :action GotoHarpoon2<cr>
nnoremap <leader>o :action GotoHarpoon3<cr>
nnoremap <leader>z :action GotoHarpoon4<cr>
