""" Map leader to space ---------------------
let mapleader=" "

""" Set nerdtree -------------------------
set NERDTree

""" Set scroll -------------------------
set scrolloff=8
set sidescrolloff=8

""" Set commenting -------------------------
set commentary

""" Set ignorecase --------------------------
set ignorecase
set visualbell

"""" Clipboard ------------------------------
set clipboard+=unnamed

nnoremap c "cc
vnoremap c "cc
nnoremap C "cC
vnoremap C "cC

nnoremap d "dd
vnoremap d "dd
nnoremap D "dD
vnoremap D "dD

nnoremap x "xx
vnoremap x "xx
nnoremap X "xX
vnoremap X "xX

nnoremap s "ss
vnoremap s "ss
nnoremap S "sS
vnoremap S "sS

""" Which key -------------------------------
set which-key
set notimeout

""" Line numbers ----------------------------
set relativenumber
set number

""" Search ----------------------------------
set hls
nnoremap <leader>k :nohlsearch<CR>

""" Mappings --------------------------------
map ő {
map ú }
map Ő [m
map Ú ]m

""" Window
nnoremap <C-w>o :action HideAllWindows<CR>
nnoremap <C-.> :action ZoomInIdeAction<CR>
nnoremap <C--> :action ZoomOutIdeAction<CR>
nnoremap <C-,> :action ResetIdeScaleAction<CR>

""" Navigation
nnoremap <leader>sf :action GotoFile<CR>
nnoremap <leader>sg :action FindInPath<CR>
nnoremap <leader>sb :action RecentFiles<CR>

""" IDE Tools
nnoremap <leader>T :action ActivateTerminalToolWindow<CR>
nnoremap <leader>d :action ActivateDatabaseToolWindow<CR>
nnoremap <leader>gl :action ActivateVersionControlToolWindow<CR>
nnoremap <leader>gb :action Annotate<CR>
nnoremap <leader>tn :action RunClass<CR>

""" Language
nnoremap <leader>r :action RenameElement<CR>
nnoremap gr :action GotoDeclaration<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap <leader>lr :action ReformatCode<CR>

""" Debug
nnoremap <leader>b <Action>(ToggleLineBreakpoint)
