---
- name: run debian tasks
  ansible.builtin.import_tasks:
    file: debian.yml
  when: ansible_facts['os_family'] == 'Debian'
  tags:
    - prologue

- name: make folders
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
  loop:
    - ~/.config
    - ~/.local/bin
  tags:
    - prologue
    - install
    - cli
